
<div class="shopping-list-container">
  <form [formGroup]="addForm" class="add-new-product">
    <mat-form-field>
      <input matInput class="inputaa" placeholder="I have to buy..." formControlName="productName" #productName>
    </mat-form-field>
    <button type="submit" (click)="addProduct(productName.value)" [disabled]="addForm.pristine || addForm.invalid || addingProduct" color="primary">+</button>
  </form>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <mat-list class="product-list-container" *ngIf="!loading">
    <mat-list-item *ngFor="let product of products">
      <h3 matLine (click)=addToCart(product)> {{product.name}} </h3>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let product of productsOnCart">
      <h3 matLine (click)=removeFromCart(product)> {{product.name}} </h3>
    </mat-list-item>
  </mat-list>
  <button (click)="shop(productsOnCart)" color="primary">Shop</button>
</div>
