.shopping-list-container {
  margin: 90px auto;
  max-width: 50%;

  .product-list-container {
    background-color: #FF7340;
    opacity: 0.6;
  }

  .add-new-product {
    color: white;
    padding-left: 16px;

    button {
      margin-left: 16px;
    }
  }
}
